html, body {
  width: 200px;
  background-color: #DCDCDC;
}

.button {
    margin: 6% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #E5F2F2;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
  }

.button:first-child {
    border-radius: 0 0 20px 20px;
    position: relative;
    top:-12px;
}

.button:last-child {
    border-radius: 20px 20px 0 0;
    position: relative;
    bottom:-12px;
}
.button:hover {
    background-color: #CFF2F2;
}

.button:active {
    border-top: 3px solid darkgray;
    border-left: 3px solid darkgray;
}

#clear {
    background-color: #FBFBC9;
}

#clear:hover {
    background-color: #EAEA9D;
}

.disabled {
    color: red;
}

.enabled {
    color: green;
}